extends layout

block layout-content
	div.content#content
		<!-- Contact Me Modal -->
		div.modal#myModal
			div.modal-content
				div.contact-modal-header
					a.mainLink.close x
				div.modal-elements
					<label for="fname">Name:</label>
					<input type="text" id="fname" name="fname">
					<label for="email" class="email">Your email:</label>
					<input type="text" id="email" name="email">
				div.contact-modal-message
					<textarea id="modal-message" class="modal-message" placeholder="Write your message here!"></textarea>
				div.contact-modal-footer
					button.btn.call-to-action.contact-send Send


		<!-- Introduction Section -->
		div.introduction#introduction
			div.introduction-text
				h1.hacker-text Hello, I'm
				h1.big-heading Gregory Whitman
				h1.secondary-text Full Stack Developer
				div(style="margin-top:2.5rem;")
					a.btn-pixel#myBtn Contact Me


		<!-- About Section --> 
		div.about#about.fade-in.silde-in.from-bottom
			div.about-header.section-header
				h1.header-text About Me
			div.about-body-wrapper
				div.about-body
					<p> Hi! My name is Greg and I enjoy building solutions to both simple and complex problems. </p>
					<p> The problem solving process has always fascinated me. Which has led me down the path to becoming a Full Stack Developer. </p>
					<p> My interests surpass web development and have recently entered into the realms of game development, writing bots for automation, and exploring the world of engineering. </p>
					<p> Each of these provide their own unique problems and solutions which feeds my ever growing desire to learn and understand more! </p>
				div.about-picture
					img(src="/images/greg-naruto.webp" width="300px" height="330px")


		<!-- Work Experience Section -->
		div.work-experience#work-experience.fade-in
			div.wrapper
				div.work-header#work-header
					h1.header-text Where I've Worked
				div.carousel-outer
					div.carousel-inner
						div.tabs
							div.tab-list
								ul
									li.job-selector.selected(data="0") DMS
									li.job-selector(data="1") PushPros
						div.job1
							div.job-title1
								div.job-header1
									.h2
										span.job-header-title Full Stack Developer 
											span.job-header-company @ Digital Media Solutions
								div.job-header1-sub
										span February 2021 - Present
							div.job-body1
								ul
									li Developed and implemented a sophisticated anomaly tracking system, analyzing diverse business metrics to promptly notify relevant team members to investigate root causes.
									li Helped build an Ad network capable of delivering billions of ads daily. System was capable of delivering targeted ads based on tracked user data. Also worked on ad optimization which automatically calculated best performing ads to deliver more often.
									li Leveraged Cloudflare services to build an automated threat detection system by leveraging an AI LLM and Puppeteer to evaluate websites for potential threats using content classification.
									li Integrated NodeJS applications with AWS services, including Gateway, Lambda, S3 and CloudWatch, optimizing operational efficiency and enhancing data management capabilities.
									li Expanded existing REST API functionality by designing and building new features to meet evolving business requirements.
									li Designed and implemented user-friendly UI that interacted with APIs and executed SQL queries, streamlining team members' workflow for seamless completion of business tasks.
									li Utilized NodeJS and SendGrid to construct and automate multiple recurring emails, conveying crucial insights into the businesses' recent performance.
									li Maintained and updated multiple NodeJS applications, ensuring smooth and reliable operation.


		<!-- Projects Section -->
		div.projects
			div.projects-wrapper
				div.section-header#project-header.fade-in
					h1.header-text What I've Built
				div.project.slide-in.from-right
					div.project-body-wrapper
						div.project-content
							div.project-sm-header
								span Featured Project
							div.project-title
								h1 Zombie Perk Bottle Display
							div.project-body
								div.project-body-desc
									<p> Scratching a creative itch, I decided to build a display for my favorite games. "Call Of Duty: Zombies" and the iconic Perk Machienes.</p>
									ul.project-tools
										li Samll Electrics
										li Soldering
										li Circuts
										li Breadboarding
										li Audio Editing
										li Arduino Code
							div.project-footer
								div.project-link
									a(href="https://gregorywhitman.dev/zombie-perk-bottles" target="_blank" data-toggle="tooltip" data-placement="top" title="Simple Showcase")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link project-link-svg">
											<title>External Link</title>
											<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
											<polyline points="15 3 21 3 21 9"></polyline>
											<line x1="10" y1="14" x2="21" y2="3"></line>
										</svg>	
						div.project-body-img
							img(src='/images/perks/final_product_dark.jpg', alt='Zombie Perk Bottle')

				div.project.slide-in.from-right
					div.project-sm-header
						span Featured Project
					div.project-title
						h1 Genetic Algorithm Research
					div.project-body
						<p> Researching genetic algorithms <em>applied to pathfinding</em>, specifically the effect of Second Chance Mating within the selection portion of the algorithm. This project includes a visual demo, a presentation that dives into genetic algorithms, and finally a research paper that concludes my findings. If you find this project interesting, checkout another application of genetic algorithms <a href="/wordmatching-ga" class="mainLink" target="_blank"> here </a>.</p>
						ul.project-tools
							li Java
							li Processing
							li Eclipse
					div.project-footer
						div.project-link
							a(href="https://github.com/gw7088/SCGA" target="_blank" data-toggle="tooltip" data-placement="top" title="GitHub")
								<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
									<title>GitHub</title>
									<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
								</svg>
						div.project-link
							a(href="/pathfinding-ga" data-toggle="tooltip" data-placement="top" title="Live Demo")
								<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link project-link-svg">
									<title>Live Demo</title>
									<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
									<polyline points="15 3 21 3 21 9"></polyline>
									<line x1="10" y1="14" x2="21" y2="3"></line>
								</svg>
						div.project-link
							a(href="/scga_slides.pdf" target="_blank" data-toggle="tooltip" data-placement="top" title="Project Slideshow")
								svg.project-link-svg(width="26px", height="26px")
									<title>Slides</title>
									use(xlink:href="/images/slides.svg#slides")
						div.project-link
							a(href="/scga_paper.pdf" target="_blank" data-toggle="tooltip" data-placement="top" title="Research Paper")
								svg.project-link-svg(width="26px", height="26px")
									<title>Paper</title>
									use(xlink:href="/images/paper.svg#paper")
				div.project.slide-in.from-left
					div.project-sm-header
						span Featured Project
					div.project-title
						h1 newsbriefs.us
					div.project-body
						<p> A simple news site that updates content daily by scraping the web with Puppeteer. With this project, I wanted to explore everything that goes into hosting a site. </p>
						ul.project-tools
							li AWS EC2
							li AWS Route 53
							li Certbot
							li Puppeteer
							li Bootstrap
							li NodeJS
							li Express
							li Nginx
							li Pm2
					div.project-footer
						div.project-link
							a(href="https://github.com/gw7088/newsbriefs.us" target="_blank" data-toggle="tooltip" data-placement="top" title="GitHub")
								<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
									<title>GitHub</title>
									<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
								</svg>			
						div.project-link
							a(href="https://newsbriefs.us" target="_blank" data-toggle="tooltip" data-placement="top" title="Live Demo")
								<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link project-link-svg">
									<title>External Link</title>
									<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
									<polyline points="15 3 21 3 21 9"></polyline>
									<line x1="10" y1="14" x2="21" y2="3"></line>
								</svg>
				<!-- Extra Projects Section -->
				div.more-projects#more-projects
					div.extra-projects-heading
						p Extra Projects
					div.extra-projects-wrapper
						div.project.extra-project
							div.project-footer.extra-project-footer
								div.project-link
									a(href="https://github.com/gw7088/WMGA" target="_blank" data-toggle="tooltip" title="GitHub")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
											<title>GitHub</title>
											<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
										</svg>
								div.project-link
									a(href="/wordmatching-ga" data-toggle="tooltip" title="Live Demo")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link project-link-svg">
											<title>Live Demo</title>
											<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
											<polyline points="15 3 21 3 21 9"></polyline>
											<line x1="10" y1="14" x2="21" y2="3"></line>
										</svg>
							div.project-title.extra-project-title
								h1 Genetic Algorithm: String Matching
							div.project-body.extra-project-body
								<p> Yet another application of Genetic Algorithms, but applied to string matching. Employing multiple algorithms to determine the fitness of each individual in the population. </p>
								ul.project-tools.extra-project-tools
									li Javascript
									li Processing
									li p5.js
						div.project.extra-project
							div.project-footer.extra-project-footer
								div.project-link(style="margin-bottom: 20px;")
									//- img(src="/images/best_player_spritesheet_32x34.gif" width="32px" height="34px")
									//- img(src="/images/best_player_spritesheet_32x34 copy.gif" width="256xp" height="272px")
									img(src="/images/best_player_spritesheet_32x34 copy.gif" width="62px" height="68px")(data-toggle="tooltip" trigger="hover" data-placement="right" title="Hi there!")
							div.project-title.extra-project-title
								h1 Pixel Character Art/Animation
							div.project-body.extra-project-body
								<p> Simple 2D character looping through its different movement frames. </p>
								ul.project-tools.extra-project-tools
									li Pixilart
						div.project.extra-project
							div.project-footer.extra-project-footer
								div.project-link
									a(href="https://github.com/gw7088/simple_shell_script" target="_blank" data-toggle="tooltip" title="GitHub")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
											<title>GitHub</title>
											<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
										</svg>
							div.project-title.extra-project-title
								h1 Simple Shell Script
							div.project-body.extra-project-body
								<p> Program that serves as a shell interface that accepts user commands and then executes each command in a separate process. </p>
								ul.project-tools.extra-project-tools
									li C
									li Vim
						div.project.extra-project
							div.project-footer.extra-project-footer
								div.project-link
									a(href="https://github.com/gw7088/project-eros" target="_blank" data-toggle="tooltip" title="GitHub")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
											<title>GitHub</title>
											<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
										</svg>
								div.project-link
									//- a(href="https://victorysweepstakes.com/" data-toggle="tooltip" title="Live Demo")
									//- 	<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link project-link-svg">
									//- 		<title>Live Demo</title>
									//- 		<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
									//- 		<polyline points="15 3 21 3 21 9"></polyline>
									//- 		<line x1="10" y1="14" x2="21" y2="3"></line>
									//- 	</svg>
							div.project-title.extra-project-title
								h1 victorysweepstakes
							div.project-body.extra-project-body
								<p> Decided to dip my toes into affiliate marketing with push notifications. This page served as the location users would land on to opt into push notifications. </p>
								ul.project-tools.extra-project-tools
									li Javascript
									li Socket.io
									li Bootstrap
						div.project.extra-project
							div.project-footer.extra-project-footer
								div.project-link
									a(href="https://github.com/dfleagle/CSC361_F18_G3" target="_blank" data-toggle="tooltip" title="GitHub")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
											<title>GitHub</title>
											<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
										</svg>
							div.project-title.extra-project-title
								h1 Canyon Bunny
							div.project-body.extra-project-body
								<p> A 2D platformer game, but built with a team of other developers to work on version control. </p>
								ul.project-tools.extra-project-tools
									li Java
									li LibGDX
						div.project.extra-project
							div.project-footer.extra-project-footer
								div.project-link
									a(href="https://github.com/gw7088/CSC361_F18_Whitman" target="_blank" data-toggle="tooltip" title="GitHub")
										<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github project-link-svg">
											<title>GitHub</title>
											<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
										</svg>
							div.project-title.extra-project-title
								h1 Flappy Bird Clone
							div.project-body.extra-project-body
								<p> Simple 2D platformer mimicking the popular game "Flappy Bird". With ability to create custom maps in microsoft paint. </p>
								ul.project-tools.extra-project-tools
									li Java
									li LibGDX
			div.project-see-more
				div(style="margin-top:2rem;")
					a.btn-pixel See More?


		<!-- Contact Me Section --> 
		.contact-me-section#contact-me-section.fade-in
			div.contact-header
				h1 Reach out to me!
			div.contact-body
				<p> My inbox is always open. Let me know if you have any questions. I’ll do my best to get back to you! </p>
				<p> gwhitman55@gmail.com
			div(style="margin-top:2rem;")
					a.btn-pixel#myBtn2(data-toggle="tooltip" trigger="hover" data-placement="bottom" title="Send me an email!") Say Hello!


		<!-- Footer Section --> 
		div.footer
			div.personal-links
				a.project-icon(href="https://www.linkedin.com/in/gregory-whitman/" target="_blank" data-toggle="tooltip" data-placement="top" title="LinkedIn")
					<svg xmlns="http://www.w3.org/2000/svg" class="footer-link" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
						<title>LinkedIn</title>
						<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
						<rect x="2" y="9" width="4" height="12"></rect>
						<circle cx="4" cy="4" r="2"></circle>
					</svg>
				a.project-icon(href="https://github.com/gw7088" target="_blank" data-toggle="tooltip" data-placement="top" title="GitHub")
					<svg xmlns="http://www.w3.org/2000/svg" class="footer-link" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
						<title>Personal GitHub</title>
						<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
					</svg>
			div.closing
				span Designed and built by Gregory Whitman


	link(rel='stylesheet', href='/stylesheets/index.css', type='text/css')
	script(src="/javascripts/index.js")