doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#000000")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap" rel="stylesheet")
    link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
    script(src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.37/moment-timezone.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-5TF8RJRVC0")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-5TF8RJRVC0');
    
    title Gregory Whitman
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    div#root(style="overflow-x:hidden;")
      <!-- Heading Section -->
      include mainNav.pug
      block layout-content

    script(src="/javascripts/main.js")
    script(src="/javascripts/izitoast.js" type="text/javascript")