div.header-wrapper#header-wrapper
    div.header#header
        div.brand#brand
            button.btn.homeicon#homeicon
                a(href="/#introduction")
                    img.home-picture(src="/images/greg-naruto.webp" width="45px" height="50px")
        div.nav#nav
            ul
                li
                    a(href="/#about").mainLink About
                li
                    a(href="/#work-header").mainLink Work
                li
                    a(href="/#project-header").mainLink Projects
                li
                    a(href="/#contact-me-section").mainLink Contact Me
                li
                    a(href="/resume.pdf" target="_blank")
                        button.btn.resume Resume
        div.hamburger-icon#hamburger-icon
            div.bar1
            div.bar2
            div.bar3
    div.menue#menue
        ul.mobile-menue
            li
                a(href="/#about").mainLink About
            li
                a(href="/#work-experience").mainLink Work
            li
                a(href="/#project-header").mainLink Projects
            li
                a(href="/#contact-me-section").mainLink Contact Me
            li
                a(href="/resume.pdf" target="_blank")
                    button.btn.resume Resume