extends layout

block layout-content
	div.content#content
		<!-- 404 Section -->
		div.introduction#introduction
			div.introduction-text
				h1.hacker-text Oops!
				h1.big-heading This page does not exit!

	link(rel='stylesheet', href='/stylesheets/index.css', type='text/css')
	script(src="/javascripts/notFound.js")
