.View.WelcomeView{
  background-color: #0a192f;
}



/**
  General CSS.
*/
.section-header{
  padding: 1.5rem;
}
.content{
  transition: all 250ms ease-in 0s;
}
.call-to-action{
  margin: 15px;
  padding: .75rem;
  box-sizing: border-box;
  border: 1px solid #64FFDA;
  color: #64FFDA;
  font-size: 1.6rem;
  font-family: 'Coda', cursive;
  font-weight: 300;
}
.call-to-action:focus{
  color: #64FFDA;
  box-shadow: none;
}
.btn.call-to-action:hover{
  background-color: #2c576999;
  color: #64ffda99;
  transition: 250ms ease-in;
  border-color: inherit;
}



/**
  Modal 
*/
.modal-btn{
  margin-top: 15vh;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {	
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #64ffda; 
  background: #0a192f;
}
.close {
  color: #64ffda;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #64ffda99;
  text-decoration: none;
  cursor: pointer;
}
.contact-modal-header{
  margin-bottom: 1rem;
}
.modal-elements{
  margin: auto;
}
.modal-info{
  display:flex;
  align-items: center;
  text-align: center;
}
#email,
#fname,
.modal-message{
  background: inherit;
  color: #64ffda;
  outline: none;
  border: solid;
  border-radius: 5px;
  border-color: #64ffda;
  border-width: 1px;
}
.contact-modal-message textarea{
  height: 40vh;
  width: 50vw;
}
.email{
  margin-left: 1rem;
}
.contact-modal-message{
  text-align:center; margin: 4rem;
}
.contact-modal-footer{
  text-align: right;
}



/**
  Introduction section.
*/
.introduction{
  display: flex;
  flex: 0 1 40vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
.big-heading{
  font-family: 'Murecho', sans-serif;
  font-weight: bold;
  font-size: clamp(40px, 8vw, 60px);
  color: #CCD6F6;
  text-transform: none;
}
.hacker-text{
  font-family: 'Coda', cursive;
  /* font-family: 'Press Start 2P', cursive; */
  font-weight: 300;
  font-size: clamp(40px, 8vw, 60px);
  color: #64FFDA;
  text-transform: none;
}
.header-text{
  font-family: 'Murecho', sans-serif;
  font-weight: bold;
  font-size: clamp(26px,5vw,32px);
  color: #CCD6F6;
  text-transform: none;
}
.secondary-text{
  font-family: 'Murecho', sans-serif;
  font-weight: bold;
  font-size: clamp(40px, 8vw, 60px);
  color: #8892B0;
  text-transform: none;
}



/**
  About Section.
*/
.about{
  margin-bottom: 5rem;
}
.about-header{
  padding-left: 15vw;
}
.about-body{
  color: #99A4C2;
  font-family: 'Murecho', sans-serif;
  text-align: left;
  padding: .5rem 15vw;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}
.about-picture{
  text-align: center;
  margin: 1.5rem;
}
.about-picture img{
  border-radius: 250px;
}



/**
  Work Experience Section.
*/
.work-experience{
  margin-bottom: 16vh;
}
.work-header{
  /* padding-left: 21vw; */
  padding: 20px;
}
.job{
  flex: 0 1 40vw;
  padding: 1rem 20vw;
}
.job-header > .h2{
  font-weight: 400;
  text-transform: none;
}
.job-header-title{
  color: #CCD6F6; 
}
.job-header-company{
  color:#64FFDA;
}
.job-subtitle{
  font-family: 'Coda', cursive;
  color: #99A4C2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 1rem;
}
.job-body{
  color: #99A4C2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.wrapper{
  height: auto;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 750px;
  margin: 0 auto;
}
.carousel-outer{
  background:	#0a192f;
  padding: 20px;
  color: #99a4c2;
}
.carousel-inner{
  display: flex;
}
.tabs{
  display: flex;
  margin-right: 1.5rem;
}
.tab-list ul {
  list-style: none;
  padding: 0px;
}
.tab-list ul li {
  list-style: none;
  padding: 1rem;
  border-left-style: solid;
  border-color: #09254d;
}
.tab-list .selected {
  border-color: #64ffda;
  background-color: #2c576999;
  color: #64ffda;
}
.tab-list ul li:hover {
  background-color: #1f404d99;
}
.job-header1-sub {
  font-family: 'Coda', cursive;
  color: #99A4C2;
  font-style: normal;
  font-weight: 400;
  font-size: .90rem;
}
.job-body1 {
  font-size: 14px;
  margin-top: 1rem;
}
.job-body1 ul {
  list-style: circle;
}
.job-body1 ul li {
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
}



/**
  Projects Section.
*/
.project{
  padding: 1.5rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
  background: #0C2134;
  box-shadow: 2px 2px 8px rgb(100 255 218 / 40%);
}
.projects-wrapper{
  padding: 0 5vw;
}
.project-sm-header{
  font-family: 'Coda', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #64FFDA;
}
.project-title{
  font-weight: 700;
  font-size: 31px;
  color: #E6F1FF;
  overflow-wrap: break-word;
}
.project-body{
  color: #99A4C2;
}
.project-footer{
  display: flex;
}
.project-icon{
  margin: 1rem;
}
.project-see-more{
  text-align: center;
}
.project-see-more .see-more{
  margin: 15px;
  padding: .75rem;
  box-sizing: border-box;
  border: 1px solid #64FFDA;
  color: #64FFDA;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: 'Coda', cursive;
  font-weight: 300;
}
.project-tools{
  font-family: 'Coda', cursive;
  font-size: 13px;
  list-style: none;
  text-align: left;
  padding: 0px;
}
.project-tools li{
  display: inline-block;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
.project-link{
  margin: 1rem 2.25rem 0 0;
  width: 26px;
  height: 26px;
  color: #ccd6f6;
}
.project-link-svg{
  /* margin: 1rem 2.25rem 0 0; */
  width: 26px;
  height: 26px;
  color: #ccd6f6;
}
.project-link:hover {
  color: #64FFDA;
}
/* Extra projects */
.more-projects {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.more-projects.open{
  opacity: 1;
  height: auto;
}
.extra-projects-heading{
  margin: 6rem 0 3rem 0;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.extra-projects-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  position: relative;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.extra-project{
  background: #112240;
  box-shadow: 0px 4px 11px rgb(0 0 0 / 40%);
  transition: transform 200ms ease-in;
  height: 290px;
  max-height: 290px;
}
.extra-project:hover{
  transform: translateY(-10px);
  box-shadow: 0px 4px 11px rgb(0 0 0 / 66%);
}
.extra-project-footer{
  margin: 0 0 2rem 0;
  position: relative;
}
.extra-project-tools{
  color: white;
  font-size: 11px;
  text-align: center;
}



/**
  Contact Section.
*/
.contact-me-section{
  text-align: center;
  padding: 1.5rem;
  margin: 2.5rem;
}
.contact-header{
  font-size: 2rem;
  color: #C7D1F0;
}
.contact-body{
  color: #99a4c2;
}



/**
  Footer Section.
*/
.footer{
  text-align: center;
  padding-bottom: .75rem;
}
.footer-link{
  width: 26px;
  height: 26px;
  color: #ccd6f6;
}
.closing{
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 300;
  color: #A8B2D1;
}



/**
  Fade in animation
*/
.fade-in{
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fade-in.appear{
  opacity: 1;
}
.from-left{
  transform: translateX(-50%);
}
.from-right{
  transform: translateX(50%);
}
.from-bottom{
  transform: translateY(202px);
}
.from-left, .from-right, .from-bottom{
  transition: opacity 500ms ease-in, 
    transform 400ms ease-in;
  opacity: 0;
}
.from-left.appear, .from-right.appear{
  transform: translateX(0);
  opacity: 1;
}
.from-bottom.appear{
  transform: translateY(0);
  opacity: 1;
}



/**
  Media queries for large screens.
*/
@media (min-width: 992px){

  /**
    About Section
  */
  .about{
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 27vh;
  }
  .about-header{
    text-align: left;
    padding-left: 20vw;
  }
  .about-body-wrapper{
    display: flex;
    width: 100vw;
    padding: 0 20vw 0 20vw;
  }
  .about-body, .about-picture{
    width: 50vw;
    padding: 0;
    margin: 0;
  }
  .about-picture{
    padding-left: 1rem;
  }

  /**
    Sections
  */
  .work-experience{
    margin-bottom: 20vh;
  }
  .projects{
    padding-bottom: 20vh;
  }
  .contact-me-section{
    padding-bottom: 10vh;
  }
}

/**
  Media queries for desktop/mobile nav
*/
@media only screen and (max-width: 600px){
  /** Work experience */
  .wrapper{
    width: 100vw;
    height: auto;
    font-size: 1rem;
  }
  .work-experience{
    margin-bottom: 7vh;
  }
  .carousel-inner {
    flex-direction: column;
  }
  .tab-list ul li {
    display: inline;
    border-bottom-style: solid;
    border-left-style: none;
  }
  .tabs {
    margin-bottom: 3rem;
}

}
/**
  Media queries for desktop/mobile nav
*/
@media only screen and (max-width: 768px){
  /**
    Work experience
  */
  .wrapper{
    width:100vw;
    font-size:1rem;
  }

  /**
    Modal elements
  */
  .modal-elements{
    display: grid;
    align-items: left;
    width: 50vw;
  }
  .email{
    margin-top: 1rem;
    margin-left: 0px;
  }
  .contact-modal-message {
    margin: 2rem;
  }
}